* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    
   }

   main {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0px 80px 0px 80px;
    min-height: 200px;
    padding-top: 40px;
   }

   h1 {
    padding: 10px;
    color:#2A2D4A;
    text-align: center;
    font-size: 28px;

   }
   div > img {
    width: 50%;
    
    
   
   }
   figcaption {
    color: #8F8F8F;
   }

   h2 {
    padding: 10px;
    color:#2A2D4A;
    font-size: 20px;
   }

   li {
    padding: 5px;
    color: #39393A;
    font-size: 16px;
        
   }

   footer {
    padding: 20px;
    color: #8F8F8F;
    text-align: center;
   }

